@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Playwrite+CU:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
}

header > h1{
    padding-top: 50px;
    text-align: center;
    color: white;
    font-size: 10vw;
    font-variant: small-caps;
    font-family: 'Passion One', cursive
}

header > p{
    text-align: center;
    color: white;
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover{
    text-decoration: underline;
}

article{
    margin-top: 10vh;
    margin-left: 3.9vh;
    text-align: justify;
    font-size: 3.5vw;
    font-family: "Sriracha", cursive;
    font-style: normal;
    font-weight: 400;
    line-height: 2em;

}

article#segundo{
    background-image: url(imagens/background001.jpg);
    color: white;
    background-size: 100% 100%;
    margin-left: 0px;
}

article#quarto{
    background-image: url(imagens/background002.jpg);
    color: white;
}


article#quinto{
    margin-bottom: 24vh;
}

footer{
    background-color: black;
    color: white;
    padding: 1vh;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}