body{
    font-family: Arial, Helvetica, sans-serif
}

h1,h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 2em;
}

/* Medidas absolutas 
cm, mm, in(polegadas), px, pt, pc 

* (Não utilizar o pt e pc em texto exibidos em telas digitais)



   Medidas relativas
em, ex, rem, vw, vh, %

* (as recomendadas pela w3c são o em e o px) 
* (16px geralmente é = a 1em)
* (2em = igual a 32px)

*/


/* É possivel utilizar o shorthand (font) para definir as especificidades das fontes somente em uma linha, seguindo a seguinte ordem de declaração

- font-style
- font-weight
- font-size
- font-family
*/
