*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #8C503A;

}

main h1{
    text-align: center;
    margin-top: 80px;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-family: 'Courier New', Courier, monospace;
}



main{
    text-align: center;
}

div{
    background-color: #F2E2CE;
    margin-left: 150px;
    margin-right: 150px;
    padding: 200px;
    border-radius: 10px;
    margin-bottom: 150px;
    box-shadow: 5px 5px 30px black;
}

div li{
    margin: 20px;
    text-align: justify;
}

div a{
    text-decoration: none;
    color: #D99543;    
}

