*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #8C503A ;
}

header{
    color: #F2E2CE;
    padding: 25px;
    font-weight: bold;
    margin: 10px;
    margin-top: 50px;
    border-radius: 10px;
}

header p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

 header a{
    color: #D99543 ;
    text-decoration: none;
    font-weight: bold;
}

h1{
    text-align: center;
    text-shadow: 1px 1px 1px black;
    font-family: 'Courier New', Courier, monospace;
}

main{
    text-align: center;
    margin-top: 170px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #F2E2CE;
    padding: 100px;
    border-radius: 20px;
    box-shadow: 5px 5px 30px black;
}

main p{
    text-align: justify;
    margin-top: 20px;
}


footer{
    margin: 110px;
    text-align: center;
    color: #D99543;
}