body{
    height: 98vh;
    border: 1px dashed black;
    background-image: url(http://gustavoguanabara.github.io/html-css/imagens/mascote.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center center; /* Coluna(center) e linha (center) */
}