/* 
    ID = # no CSS 
    - Utiliza de forma unica, nunca utilizar mais de um elemento com o mesmo ID

    Class = . no CSS 
    - Pode ser utilizada em varios elementos com o mesmo nome
    - Dar o nome de acordo com a funcionalidade
    - É possivel aplicar mais de uma class a um elemento
    - É possivel também colocar um ID e uma Class a um elemento (Porém o ID se sobrepoem sobre o Class)
*/

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: gray;
    color: white;
}

h1{
    color: aqua;
    font-weight: bold;
}

h1#tituloPrincipal{
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

h2{
    color: aquamarine;
    font-weight: bold;
    font-style: italic;
}

.texto{
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 10px white;
}