@charset "UTF-8";

body{
    background-color: rgb(123, 126, 125);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
}

p{
    text-align: justify;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

